---
layout: default
---

<div class="home">

<p>The HCPSS school websites are built and managed using an open source tool called Drupal. Below are resources designed to help you maintain your school’s website. For additional assistance, email <a href="mailto:webmaster@hcpss.org">webmaster@hcpss.org</a>.</p>

<!-- Begin categories -->

  <h2>Help Topics</h2>
  <section class="contents contents-flex">
  <div class="page-content__col-3">
   <h3>Media Management</h3>
      <ul class="posts">
        {% for post in site.categories.images %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="page-content__col-3">
   <h3>PDF Files</h3>
      <ul class="posts">
        {% for post in site.categories.files %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="page-content__col-3">
   <h3>School Staff Lists</h3>
      <ul class="posts">
        {% for post in site.categories.staff %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  </section>

  <section class="contents contents-flex">
  <div class="page-content__col-3">
   <h3>Content Authoring</h3>
      <ul class="posts">
        {% for post in site.categories.edit %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="page-content__col-3">
   <h3>Pages</h3>
      <ul class="posts">
        {% for post in site.categories.pages %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="page-content__col-3">
   <h3>News and Events</h3>
      <ul class="posts">
        {% for post in site.categories.news %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  </section>

  <section class="contents contents-flex">
  <div class="page-content__col-3">
     <h3>Link Resource Groups</h3>
      <ul class="posts">
        {% for post in site.categories.resources %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="page-content__col-3">
    <h3>High school website-specific</h3>
    <ul class="posts">
    {% for post in site.categories.nodes-hs %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  </section>
<!-- End categories -->

</div>
